<script setup lang="ts">
import { ref } from "vue";

const text = ref("");
const navigate = () => {
  return navigateTo({
    path: `/painters/${text.value}`,
  });
};
</script>

<template>
  <q-input
    rounded
    outlined
    v-model="text"
    label="Gogh"
  >
    <template v-slot:after>
      <q-btn round dense flat icon="search" @click="navigate" />
    </template>
  </q-input>
</template>
