<script setup lang="ts">
interface Work {
  name: string;
  imageUrl: string;
}
interface Painter {
  name: string;
  works: Work[];
}
interface Painters {
  [key: string]: Painter;
}
const painters: Painters = {
  gogh: {
    name: "Vincent van Gogh",
    works: [
      {
        name: "The Langlois Bridge at Arles",
        imageUrl: "https://upload.wikimedia.org/wikipedia/commons/0/0e/Vincent_Willem_van_Gogh_070.jpg",
      },
      {
        name: "Sunflowers",
        imageUrl: "https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Vincent_Willem_van_Gogh_127.jpg/1024px-Vincent_Willem_van_Gogh_127.jpg",
      },
    ]
  }
};
const route = useRoute();
const painterName = typeof route.params.name == "string" ? route.params.name : route.params.name[0]
const slide = ref(0);
</script>

<template>
  <div>
    <q-card>
      <h1>{{ painters[painterName].name }}</h1>
      <h2>Works</h2>
      <q-carousel
        v-model="slide"
        transition-prev="slide-right"
        transition-next="slide-left"
        animated
        arrows
        swipeable
      >
        <q-carousel-slide
          v-for="(work, index) in painters[painterName].works"
          :name="index"
          :img-src="work.imageUrl"
          class="column no-wrap flex-center"
        >
          <div class="absolute-bottom custom-caption">
            <div class="text-h3">
              {{ work.name }}
            </div>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </q-card>
  </div>
</template>

<style scoped>
.custom-caption {
  text-align: center;
  padding: 12px;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 70%);
}
</style>
