<script setup>
const leftDrawerOpen = ref(false);
const toggleLeftDrawer = () => {
  leftDrawerOpen.value = !leftDrawerOpen.value;
};
</script>

<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-btn flat round icon="menu" @click="toggleLeftDrawer" />
        <q-toolbar-title>
          Art Finder
        </q-toolbar-title>
        <q-btn flat round dense icon="more_vert" />
      </q-toolbar>
      <q-tabs align="left">
        <q-route-tab to="/painters/gogh" label="Gogh" />
        <q-route-tab to="/page2" label="Page Two" />
        <q-route-tab to="/page3" label="Page Three" />
      </q-tabs>
    </q-header>
    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <!-- drawer content -->
    </q-drawer>
    <q-page-container>
      <q-page style="padding-top: 60px" class="q-pa-md">
        <NuxtPage />
      </q-page>
    </q-page-container>
  </q-layout>
</template>
